.container{
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.right{
    flex-grow: 2;
}
.left{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

img{

    width: 30vw;

}

h1{
    font-size: 28px;
}

h2{
    font-size: 20px;
}
.cta{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    height: 30vh;
    width: 70vw;
    justify-content: flex-end;
}
.cta>*{
    margin: 20px;
 
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.names, .info, .passwords{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.column>*{
    margin: 4px;
    font-weight: bold;
}

.account{
    display: flex;
    flex-direction: column;
}

