.container{
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.right{
    flex-grow: 2;
}
.left{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

img{

    width: 30vw;

}


.cta{
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    height: 30vh;
    width: 70vw;
    justify-content: flex-end;
    box-shadow: 0px 5px 10px grey;
}

.cta>*{
    margin-left: 20px;
    margin-right: 20px;
}


.forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 5px 10px gray;
    margin-bottom: 30px;
}

.forms>*{
    flex-wrap: wrap;

}


.names, .info, .passwords{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
}

.column>*{
    margin: 4px;
    font-weight: bold;
}

.account{
    display: flex;
    flex-direction: column;
}

button{
    width: 14rem;
    height: 4rem;
    font-size: 24px;
    margin-left: 30px;
    color: whitesmoke;
    background-color: rgba(53, 117, 255, 0.801);
    border: 0px;
    border-radius: 8px;
}

#alreadyhaveaccount{
    margin-left: 30px;
}


input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 2px solid black;
  }